name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    services:
      redisgraph:
        image: redislabs/redisgraph:latest
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
