name: Rust

on: 
  push:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    
    services:
      redisgraph:
        image: redislabs/redisgraph:edge
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
